<html>
<div class="ribbon">
  <span class="headsize">Hello, {{name}}!</span>
  <div class="row mx-auto">
      <div class="col-md-4 text-center tab cursor" id="timeline" (click)=openTimeline()>Timeline</div>
      <div class="col-md-4 text-center tab cursor" id="committees" (click)=openCommittees()>Add Event</div>
      <div class="col-md-4 text-center tab cursor" id="profile" (click)=openProfile()>Profile</div>
  </div>
</div>
<div class="profile fadeIn" *ngIf="ProfileIsShow">
  <img class="profileImage" src="/assets/ribbon4.jpg">
  {{name}}<br>
  <hr>
  <span class="cursor" (click)="openEditProfile()">Edit Profile</span>
  <hr>
  <a *ngIf="isOrganiser" href = "#" routerLink = "/user">User Mode</a>
  <hr>
  Logout
</div>
<!-- <div class="content" *ngIf=CalendarIsShow>
  <div class="calendar-container">
    <div class="calendar">
      <div class="year-header">
        <span class="left-button" id="prev"> &lang; </span> 
        <span class="year" id="label"></span> 
        <span class="right-button" id="next"> &rang; </span>
      </div>
      <table class="months-table">
        <tbody>
          <tr class="months-row">
            <td class="month">Jan</td>
            <td class="month">Feb</td>
            <td class="month">Mar</td>
            <td class="month">Apr</td>
            <td class="month">May</td>
            <td class="month">Jun</td>
            <td class="month">Jul</td>
            <td class="month">Aug</td>
            <td class="month">Sep</td>
            <td class="month">Oct</td>
            <td class="month">Nov</td>
            <td class="month">Dec</td>
          </tr>
        </tbody>
      </table>

      <table class="days-table">
        <td class="day">Sun</td>
        <td class="day">Mon</td>
        <td class="day">Tue</td>
        <td class="day">Wed</td>
        <td class="day">Thu</td>
        <td class="day">Fri</td>
        <td class="day">Sat</td>
      </table>
      <div class="frame">
        <table class="dates-table">
            <tbody class="tbody">
            </tbody>
        </table>
      </div>
      <button class="button" id="add-button">Add Event</button>
    </div>
  </div>
  <div class="events-container">
  </div>
  <div class="dialog" id="dialog">
      <h2 class="dialog-header"> Add New Event </h2>
      <form class="form" id="form">
        <div class="form-container">
          <label class="form-label" id="valueFromMyButton" for="name">Event name</label>
          <input class="input" type="text" id="name" maxlength="36">
          <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
          <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
          <input type="button" value="Cancel" class="button" id="cancel-button">
          <input type="button" value="OK" class="button" id="ok-button">
        </div>
      </form>
  </div>
</div> -->
<div *ngIf=TimelineIsShow>
  <div class="timeline fadeIn" style="text-align: center;">
    <input type="button" class="center-block btn-info btn-info-inverted" value="Past Events">
    <div class="fadeIn" *ngFor = "let event of eventsData; index as i">
      <div *ngIf="i%2 == 0, else elseblock" class="newcontainer left">
          <div class="container mycontent">
            <form class="ml-2 mt-2" id="form_{{ event.id }}">
              <!-- <h4>Event Id: {{ event.id }}</h4> -->
              <h2><b>{{ event.name }}</b></h2>
              <h4><b>From:</b> {{ event.from | date }}, {{ event.from | slice: 10:-3}}</h4>
              <h4><b>To:</b> {{ event.to | date }}, {{ event.to | slice: 10:-3}}</h4>
              <h4><b>Registration Fees:</b> ₹{{ event.price }}</h4>
              <div class="d-inline-flex">
                <button class="btn btn-info ml-2 fadeIn" type="button" value="edit_{{ event.id }}" (click)="editEvent(event.id)">Edit</button>
                <button class="btn btn-info ml-2 fadeIn" type="button" value="delete_{{ event.id }}" (click)="deleteEvent(event.id)">Delete</button>
              </div>
            </form>
          </div>
      </div>
      <ng-template #elseblock>
        <div class="newcontainer right">
            <div class="mycontent">
              <form class="ml-2 mt-2" id="form_{{ event.id }}">
                <!-- <h4>Event Id: {{ event.id }}</h4> -->
                <h2><b>{{ event.name }}</b></h2> 
                <h4><b>From:</b> {{ event.from | date }}, {{ event.from | slice: 10:-3}}</h4>
                <h4><b>To:</b> {{ event.to | date }}, {{ event.to | slice: 10:-3}}</h4>
                <h4><b>Registration Fees:</b> ₹{{ event.price }}</h4>
                <div class="d-inline-flex">
                  <button class="btn btn-info ml-2" type="button" value="edit_{{ event.id }}" (click)="editEvent(event.id)">Edit</button>
                  <button class="btn btn-info ml-2" type="button" value="delete_{{ event.id }}" (click)="deleteEvent(event.id)">Delete</button>
                </div>
              </form>
            </div>
        </div>
      </ng-template>
    </div>
    <input type="button" class="center-block btn-info btn-info-inverted" value="Next Events">
  </div>
</div>
<div *ngIf=CommitteesIsShow class="panel">
  <!-- <div *ngFor="let event of eventsData" class="container" id="events">
    <form class="ml-2 mt-2" id="form_{{ event.id }}">
      <h4>Event Id: {{ event.id }}</h4>
      <h4>Event Name: {{ event.name }}</h4> 
      <h4>Event Start Date and Time: {{ event.from }}</h4>
      <h4>Event End Date and Time: {{ event.to }}</h4>
      <h4>Registration Fees:{{ event.price }}</h4>
      <div class="d-flex">
        <button class="btn btn-info ml-2" type="button" value="edit_{{ event.id }}" (click)="editEvent(event.id)">Edit</button>
        <button class="btn btn-info ml-2" type="button" value="delete_{{ event.id }}" (click)="deleteEvent(event.id)">Delete</button>
      </div>
    </form>
    <hr>
  </div>   -->
  <!-- <div class="container">
      <br>
      <hr>
      <h1>Event Name</h1>
      <input type="button" style="align-items: center;" class="button float-right cbutton" value="Register Now">
      <br>Committee Name, Time Remaining
      <hr>
      <h1>Event Name</h1>
      <input type="button" style="align-items: center;" class="button float-right cbutton" value="Register Now">
      <br>Committee Name, Time Remaining
      <hr>
      <h1>Event Name</h1>
      <input type="button" style="align-items: center;" class="button float-right cbutton" value="Register Now">
      <br>Committee Name, Time Remaining
      <hr>
      <h1>Event Name</h1>
      <input type="button" style="align-items: center;" class="button float-right cbutton" value="Register Now">
      <br>Committee Name, Time Remaining
      <hr>
    </div> -->
    <!-- <hr> -->
    <!-- <div class="container">
      <div class="text-center">
        <form [formGroup]="newEventData" (ngSubmit)="addEvent()">
          <input type="submit" id="addbutton" value="+" class="btn btn-danger addNewEventButton">
          <div id="newEventNameDiv" class="form-group">
            <label for="newEventName">
              <h4>Event Name:</h4>
            </label>
            <input id="newEventName" value="Event Name" type="text" class="form-control" formControlName="newEventName" style="width: 30%; margin: 0 auto;">
          </div>
          <div class="form-group">
            <label for="newEventStartDate">
              <h4>Event Start Date:</h4>
            </label>
            <input id="newEventStartDate" type="date" class="form-control btn-danger" formControlName="newEventStartDate" style="width: 30%; margin: 0 auto;">
          </div>
          <div class="form-group">
            <label for="newEventStartTime">
              <h4>Event Start Time:</h4>
            </label>
            <input id="newEventStartTime" type="time" class="form-control btn-danger" formControlName="newEventStartTime" style="width: 30%; margin: 0 auto;">
          </div>
          <div class="form-group">
            <label for="newEventEndDate">
              <h4>Event End Date:</h4>
            </label>
            <input id="newEventEndDate" type="date" class="form-control btn-danger" formControlName="newEventEndDate" style="width: 30%; margin: 0 auto;">
          </div>
          <div class="form-group">
            <label for="newEventEndTime">
              <h4>Event End Time:</h4>
            </label>
            <input id="newEventEndTime" type="time" class="form-control btn-danger" formControlName="newEventEndTime" style="width: 30%; margin: 0 auto;">
          </div>
          <div class="form-group">
            <label for="newEventPrice">
              <h4>Registration Fees:</h4>
            </label>
            <input id="newEventPrice" type="number" class="form-control btn-danger" formControlName="newEventPrice" style="width: 30%; margin: 0 auto;">
          </div>
          <hr>
        </form>        
      </div>
      <div class="text-center" id="parentdiv">
        <input type="button" id="addEvent" class="button cbutton" (click)=openNewEvent(this) value="Add Event">
      </div> -->
      
      <!-- <div *ngIf=NewEventIsShow>
        <hr>
        Event Name: <input type="text"><br>
        <input type="button" class="button cbutton float-right" value="Add"><br>
        Event Date:
        <select>
          <option *ngFor="let month of months">{{month}}</option>
      </select>
      
      <select>
        <option *ngFor="let day of days">{{day}}</option>
      </select>
    
      <select>
        <option *ngFor="let year of years">{{year}}</option>
      </select>
      <hr>
      <input type="button" class="button cbutton" (click)=openNewEvent() value="Add Event">
      </div> -->
    <!-- </div> -->
    <form (ngSubmit) = "onSubmit()" class="fadeIn">
      <div class="container contained">
        <div class=" btn-info-inverted padding" *ngFor="let newEventDetails of EventArray">
          <div class="form-row">
            <div class="col-sm-6">
              <label>Event Name</label>
              <input type="text" id="EventName" class="form-control" name="name" placeholder="Event Name" [(ngModel)]="newEventDetails.name">
            </div>

            <div class="col-sm-6">
              <label>Fees</label>
              <input type="number" id="EventFees" class="form-control" name="fees" placeholder="Fees" [(ngModel)]="newEventDetails.fees">
            </div>
          </div>
          <br>

          <div class="form-row">
            <div class="col-sm-6">
              <label>Start Date</label>
              <input type="date" id="EventDateFrom" class="form-control" name="dateFrom" [(ngModel)]="newEventDetails.dateFrom">
            </div>

            <div class="col-sm-6">
              <label>Start Time</label>
              <input type="time" id="EventTimeFrom" class="form-control" name="timeFrom" [(ngModel)]="newEventDetails.timeFrom">
            </div>
          </div>
          <br>

          <div class="form-row">
            <div class="col-sm-6">
              <label>End Date</label>
              <input type="date" id="EventDateTo" class="form-control" name="dateTo" [(ngModel)]="newEventDetails.dateTo">
            </div>

            <div class="col-sm-6">
              <label>End Time</label>
              <input type="time" id="EventTimeTo" class="form-control" name="timeTo" [(ngModel)]="newEventDetails.timeTo">
            </div>
          </div>
        </div>
        <input type="button" class="btn btn-info btn-info-inverted input-center" value="Add" (click)="addNewEvent()">
      </div>
    </form>
</div>
<div *ngIf="EditProfile">
  <div class="container margin-top max-width fadeIn">
    <table class="margin-top table table-bordered fantasy">
      <tr>
        <th class="fantasy btn-info-inverted text-center">
          <h3>
            Your Profile
          </h3>
        </th>
      </tr>
      <tr class="text-center">
        <td>
          <img class="profileImage profileImageLarge" src="assets/ribbon4.jpg">
        </td>
      </tr>
      <tr>
        <td>
          <h6>Name</h6>
          <div class="input-group">
          <input class="form-control max-width" type="text" value="{{name}}">
          <input type="button" class="btn-info-inverted" value="Edit">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Email Address</h6>
          <input class="form-control max-width" type="text" value="sandesara.harsh@gmail.com (Uneditable)">
        </td>
      </tr>
      <tr>
        <td>
          <h6>Password</h6>
          <div class="input-group">
          <input class="form-control max-width" type="password" value="whateverlol">
          <input type="button" class="btn-info-inverted" value="Edit">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Birthday</h6>
          <input class="form-control max-width" type="text" value="9th May, 2000 (Uneditable; change type to date)">
        </td>
      </tr>
      <tr>
        <td>
          <h6>Branch</h6>
          <div class="input-group">
          <input class="form-control max-width" type="text" value="Computer Engineering">
          <input type="button" class="btn-info-inverted" value="Edit">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Year</h6>
          <div class="input-group">
          <input class="form-control max-width" type="text" value="Second Year">
          <input type="button" class="btn-info-inverted" value="Edit">
          </div>
        </td>
      </tr>
      <tr>
      </tr>
    </table>
    <input type="button" class="margin-bottom btn-info-inverted" value="Done" (click)="saveChanges()">
    <input type="button" class="margin-bottom btn-info-inverted" value="Cancel" (click)="cancelChanges()">
  </div>
</div>
</html>